.repoDisplay{
margin-bottom: 15px;

}
.usercardimg{
  width: 200px;
  height: 200px;
}
.usercard{
  margin-bottom: 50px;
  margin-top: 50px;

}
.card-title{
  font-family: 'Righteous', cursive;
  font-size: 35px;
}
.card-text{
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
}
.list-group-item{
  font-family: 'Righteous', cursive;
  font-size: 20px;

}