
<div class="container text-center">
  <div class="card usercard">
    <img class="card-img-top mx-auto usercardimg" src="{{ownerinfo.userImage}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"> Hey I'm {{ownerinfo.username}}</h5>
      <p class="card-text">'A computer engineer enthusiast who loves to code>'</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">I made my github account {{ownerinfo.created|dayscreated}} </li>
      <li class="list-group-item">Github Link : <a href="{{ownerinfo.url}}" target="_blank"
          class="card-link">{{ownerinfo.url}}</a>
      </li>
      <li class="list-group-item card-link" (click)='toggle()'>Click Here to see a couple of my projects</li>
    </ul>
  </div>
  <app-userrepo *ngIf = "ownerinfo.displayRepos" [Repos]='Repos'></app-userrepo>
</div>
