<!-- <div>
  <h3>Hey I'm {{ownerinfo.username}}</h3>
</div>
<div *ngFor="let Repo of Repos">
  <h3>repo na : {{Repo.name}}</h3>
  <p>{{Repo.description}}</p>
</div> -->


<div class="container text-center">
  <div class="card usercard">
    <img class="card-img-top mx-auto usercardimg" src="{{ownerinfo.userImage}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"> Hey I'm {{ownerinfo.username}}</h5>
      <p class="card-text">'A computer engineer enthusiast who loves to code>'</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">I made my github account on {{ownerinfo.created}} </li>
      <li class="list-group-item">Github Link : <a href="{{ownerinfo.url}}" target="_blank" class="card-link">{{ownerinfo.url}}</a>
      </li>
      <li class="list-group-item"><a href="#" class="card-link ">Here are a couple of my projects</a></li>
    </ul>
  </div>


  <div id="showHide">
    <div class="row">
      <div class="col-sm-3 repoDisplay" *ngFor='let Repo of Repos; let i = index'>
        <div class="card cardRepo">
          <div class="card-header">
            {{Repo.name}}
          </div>
          <div class="card-body">
            <h5 class="card-title">{{Repo.description}}</h5>
            <a href="{{Repo.urlLink}}">{{Repo.urlLink}}</a>
            <p class="card-text">{{Repo.language}}</p>
            <a href="{{Repo.deployedSite}}" class="btn btn-primary">Live Site</a>
          </div>
        </div>
      </div>
      <hr>
    </div>
  </div>
</div>

<!-- <div class="text-center">
  <app-search-form></app-search-form>
</div>

<div>
  <app-show-user></app-show-user>
</div>

<div>
  <app-show-repos></app-show-repos>
</div> -->