<div class="container-fluid">
  <div class="form-group">
    <label for="searchByUsername">Search by Username</label>
    <input type="text" name="searchByUsername" id="searchByUsername" class="form-control" #searchByUsername>
    <button class="btn " (click)="userName(searchByUsername)">Search</button>
  </div>
  <div class="form-group">
    <label for="searchByRepository">Search by Repository</label>
    <input type="text" name="searchByRepository" id="searchByRepository" class="form-control" #searchByRepository>
    <button class="btn " (click)="repository(searchByRepository)">Search</button>
  </div>
</div>

<div>
  <app-show-user></app-show-user>
</div>

<div>
  <app-show-repos></app-show-repos>
</div> 