<div class="container">
  <div class="form-group">
    <label for="searchByUsername">Search by Username</label>
    <input type="text" name="searchByUsername" id="searchByUsername" class="form-control" [(ngModel)]='searchByUsername'><br>
    <button class="btn " (click)="userName()">Search</button>
  </div>
  <div class="form-group">
    <label for="searchByRepository">Search by Repository</label>
    <input type="text" name="searchByRepository" id="searchByRepository" class="form-control" [(ngModel)]='searchByRepository'><br>
    <button class="btn " (click)="repository()">Search</button>
  </div>
</div>

<div>
  <app-show-user></app-show-user>
</div>

<div>
  <app-show-repos></app-show-repos>
</div> 